<!-- Offcanvas (Menú de Categorías) -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasMenuLabel">Menú</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-unstyled" id="categoryList">
        <!-- Las categorías se cargarán aquí -->
      </ul>
    </div>
</div>


  <div class="pb-4" style="display: none; position: relative;" id="menuSection">
      <h2 class="text-center my-4 py-3 bg-success text-white rounded shadow-sm text-uppercase" id="sectionTitle"></h2>
      
      <!-- Botones para desplazar las cards (solo desktop) -->
      <button class="scroll-btn left-btn d-none d-md-block bi bi-arrow-left-circle-fill" onmousemove="scrollMenu(-300)" onclick="scrollMenu(-300)">
          &#8592;
      </button>
      <button class="scroll-btn right-btn d-none d-md-block" onmousemove="scrollMenu(300)" onclick="scrollMenu(300)">
          &#8594;
      </button>

      <div class="scroll-container" id="menuItems">
          <!-- Los productos de la categoría seleccionada se cargarán aquí -->
      </div>
  </div>


